@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.timecard {
    height: 20rem;
    width: auto;
}

.gradient {

    background: linear-gradient(to top, red, blue),
    linear-gradient(to right, #5affb2, #61efff);
    background-blend-mode: overlay;
}

.gradient2 {

    background: linear-gradient(to top, red, blue),
    linear-gradient(to right, #f6cdbc, #baddf2);
    background-blend-mode: overlay;
}

.custom-font-style {
    margin-left: 1rem;
    line-height: 1.35;
}

.text-wrapper {
    margin-top: 9rem;
}

.custom-btn {
    border-radius: 0.5rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background: #6366f1;
    color: white;
}

.text-shadow {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
/*  */